/js/.DS_Store

/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb-shm

/objectivec/Subjective-c/DemoGuide/DemoGuide.xcodeproj/project.xcworkspace/xcuserdata/NicolasCardozo.xcuserdatad/UserInterfaceState.xcuserstate

*.pch.dia

*.pch.pch

*.pch.pch.hash-criteria

/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/3C1I1SIDWYVHJ/

/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/3KQN6ATYZWHRR/

/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb-wal
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb.strings-cmp
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb.strings-dir
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb.strings-file
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb.strings-moduleurl
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb.strings-res
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/Debug/iphonesimulator8.2-x86_64/DemoGuide.xcindex/db.xcindexdb.strings-sym
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/PrecompiledHeaders/DemoGuide-Prefix-cracxwwqskppyghceehtzmtjznab_ast/DemoGuide-Prefix.pch.pch
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/PrecompiledHeaders/DemoGuide-Prefix-cracxwwqskppyghceehtzmtjznab_ast/DemoGuide-Prefix.pch.pch.hash-criteria
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Index/PrecompiledHeaders/DemoGuide-Prefix-cracxwwqskppyghceehtzmtjznab_ast/DemoGuide-Prefix.pch.pch.target
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/info.plist
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Logs/Build/7AE631C9-B2F9-4E9E-82D5-A1AFF6CFBBEE.xcactivitylog
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Logs/Build/Cache.db
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Logs/Issues/C2108EA9-70CE-4399-9A81-D9AE590023EE.xcactivitylog
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/Logs/Issues/Cache.db
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/scm.plist
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/TextIndex/text-filter.idx
/objectivec/Subjective-c/DemoGuide/Build/DemoGuide/TextIndex/text-find.idx
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/DemoGuide-all-non-framework-target-headers.hmap
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/DemoGuide-all-target-headers.hmap
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/DemoGuide-generated-files.hmap
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/DemoGuide-own-target-headers.hmap
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/DemoGuide-project-headers.hmap
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/DemoGuide.hmap
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/dgph
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/CacheManager.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/CacheManager.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/CacheManager.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/CategoryPoi.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/CategoryPoi.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/CategoryPoi.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsInitializer.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsInitializer.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsInitializer.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsManager.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsManager.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsManager.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ContextsViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DemoGuide.LinkFileList
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DemoGuideAppDelegate.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DemoGuideAppDelegate.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DemoGuideAppDelegate.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Description.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Description.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Description.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DescViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DescViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/DescViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/main.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/main.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/main.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/MenuViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/MenuViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/MenuViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Poi.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Poi.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Poi.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController_CATEGORY.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController_CATEGORY.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController_KID.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/POIViewController_KID.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/SQLManager.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/SQLManager.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/SQLManager.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ToolsLangViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ToolsLangViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ToolsLangViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ToolsViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ToolsViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/ToolsViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Town.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Town.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/i386/Town.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/CacheManager.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/CacheManager.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/CacheManager.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/CategoryPoi.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/CategoryPoi.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/CategoryPoi.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsInitializer.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsInitializer.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsInitializer.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsManager.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsManager.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsManager.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ContextsViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DemoGuide.LinkFileList
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DemoGuideAppDelegate.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DemoGuideAppDelegate.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DemoGuideAppDelegate.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Description.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Description.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Description.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DescViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DescViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/DescViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/main.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/main.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/main.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/MenuViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/MenuViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/MenuViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Poi.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Poi.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Poi.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController_CATEGORY.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController_CATEGORY.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController_KID.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/POIViewController_KID.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/SQLManager.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/SQLManager.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/SQLManager.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ToolsLangViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ToolsLangViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ToolsLangViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ToolsViewController.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ToolsViewController.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/ToolsViewController.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Town.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Town.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Objects-normal/x86_64/Town.o
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Script-C704406C146EDC1D003C3745.sh
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/DemoGuide.build/Debug-iphonesimulator/DemoGuide.build/Script-C704406D146EDC1E003C3745.sh
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-cktryqyolvgnsjbfiqiczotgkvdd/DemoGuide-Prefix.pch.pch.hash-criteria
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-ctcyoxerzpppmafuewdxmnuhqpbm/DemoGuide-Prefix.pch.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-ctcyoxerzpppmafuewdxmnuhqpbm/DemoGuide-Prefix.pch.data
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-ctcyoxerzpppmafuewdxmnuhqpbm/DemoGuide-Prefix.pch.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-ctcyoxerzpppmafuewdxmnuhqpbm/DemoGuide-Prefix.pch.pch
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-ctcyoxerzpppmafuewdxmnuhqpbm/DemoGuide-Prefix.pch.pch.hash-criteria
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-dntizekcwiwhmsaxdcvmzngdfxnv/DemoGuide-Prefix.pch.d
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-dntizekcwiwhmsaxdcvmzngdfxnv/DemoGuide-Prefix.pch.data
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-dntizekcwiwhmsaxdcvmzngdfxnv/DemoGuide-Prefix.pch.dia
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-dntizekcwiwhmsaxdcvmzngdfxnv/DemoGuide-Prefix.pch.pch
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-dntizekcwiwhmsaxdcvmzngdfxnv/DemoGuide-Prefix.pch.pch.hash-criteria
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-eueztgkellpymndjobiyjzgnkeyy/DemoGuide-Prefix.pch.pch.hash-criteria
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-gtbtjkwdhftpvkcafytlhldjxgsd/DemoGuide-Prefix.pch.data
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-gtbtjkwdhftpvkcafytlhldjxgsd/DemoGuide-Prefix.pch.pch
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-gtbtjkwdhftpvkcafytlhldjxgsd/DemoGuide-Prefix.pch.pch.hash-criteria
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-hiloummqahexkagrpjfnbzdrookl/DemoGuide-Prefix.pch.data
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-hiloummqahexkagrpjfnbzdrookl/DemoGuide-Prefix.pch.pch
/objectivec/Subjective-c/DemoGuide/Build/Intermediates/PrecompiledHeaders/DemoGuide-Prefix-hiloummqahexkagrpjfnbzdrookl/DemoGuide-Prefix.pch.pch.hash-criteria

/objectivec/Objective-c/SmartCityGuide/SmartCityGuide/en.lproj/

.DS_Store

/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator9.3-x86_64/
/objectivec/Objective-c/SmartCityGuide/SmartCityGuide.xcodeproj/project.xcworkspace/xcshareddata/
/objectivec/Objective-c/SmartCityGuide/SmartCityGuide.xcodeproj/xcuserdata/NicolasCardozo.xcuserdatad/xcdebugger/

/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuide.build/dgph
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuide.build/dgph~
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuide.build/Objects-normal/x86_64/SmartCityGuide.LinkFileList
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuide.build/SmartCityGuide-project-headers.hmap
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuide.build/SmartCityGuide.hmap
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuideTests.build/dgph
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuideTests.build/dgph~
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuideTests.build/Objects-normal/x86_64/SmartCityGuideTests.LinkFileList
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuideTests.build/SmartCityGuideTests-project-headers.hmap
/objectivec/Objective-c/SmartCityGuide/Build/Intermediates/SmartCityGuide.build/Debug-iphonesimulator/SmartCityGuideTests.build/SmartCityGuideTests.hmap
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/CFNetwork-1Z9OS6UQGTGOD.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/CoreFoundation-2I3TRZ4JXJOE9.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/CoreGraphics-1Z9OS6UQGTGOD.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/CoreImage-1Z9OS6UQGTGOD.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/CoreText-1Z9OS6UQGTGOD.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/CoreVideo-WD9J57RTSJ9C.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/Darwin-1SOUQYUXM4RM0.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/Dispatch-W9WZXRV3RZBZ.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/Foundation-PNFYWITLP4HB.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/MachO-19TCSPDEE4V6P.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/modules.idx
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/ObjectiveC-302YWHE48XP22.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/OpenGLES-2DEWKGPFJ6WE9.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/os-1SOUQYUXM4RM0.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/QuartzCore-2KW42MB15Y9JV.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/Security-1KDZGPBJ8MZ3G.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/1RAZYV4OX0BF2/UIKit-2X95M2Q1NPNPL.pcm
/objectivec/Objective-c/SmartCityGuide/Build/ModuleCache/Session.modulevalidation
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb-shm
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb-wal
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb.strings-cmp
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb.strings-dir
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb.strings-file
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb.strings-moduleurl
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb.strings-res
/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/Index/Debug/iphonesimulator8.2-x86_64/SmartCityGuide.xcindex/db.xcindexdb.strings-sym

/objectivec/Objective-c/SmartCityGuide/Build/SmartCityGuide/TextIndex/text-filter.idx
/objectivec/Objective-c/SmartCityGuide/SmartCityGuide.xcodeproj/project.xcworkspace/xcuserdata/NicolasCardozo.xcuserdatad/UserInterfaceState.xcuserstate
